<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Loan Approval Prediction</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Loan Approval Prediction</h1>
        <form method="POST">
            <label for="gender">Gender (0=Male, 1=Female):</label><br>
            <input type="number" id="gender" name="gender"><br>

            <label for="married">Married (0=No, 1=Yes):</label><br>
            <input type="number" id="married" name="married"><br>

            <label for="dependents">Dependents:</label><br>
            <input type="number" id="dependents" name="dependents"><br>

            <label for="education">Education (0=Not Graduate, 1=Graduate):</label><br>
            <input type="number" id="education" name="education"><br>

            <label for="self_employed">Self Employed (0=N0, 1=Yes):</label><br>
            <input type="number" id="self_employed" name="self_employed"><br>

            <label for="applicant_income">Applicant Income:</label><br>
            <input type="number" id="applicant_income" name="applicant_income"><br>

            <label for="coapplicant_income">Coapplicant Income:</label><br>
            <input type="number" id="coapplicant_income" name="coapplicant_income"><br>

            <label for="loan_amount">Loan Amount:</label><br>
            <input type="number" id="loan_amount" name="loan_amount"><br>

            <label for="loan_amount_term">Loan Amount Term:</label><br>
            <input type="number" id="loan_amount_term" name="loan_amount_term"><br>

            <label for="credit_history">Credit History (0 or 1):</label><br>
            <input type="number" id="credit_history" name="credit_history"><br>

            <label for="property_area">Property Area (0=Rural, 1=Semiurban, 2=Urban):</label><br>
            <input type="number" id="property_area" name="property_area"><br><br>

            <input type="submit" value="Predict">
        </form>

        {% if result %}
        <h2>Result: {{ result }}</h2>
        {% endif %}
    </div>
</body>
</html>